@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap" rel="stylesheet');

* {
    margin: 0px;
    padding: 0px;
}



:root {
    --fonttitulo: 'Passion One';
    --fonttexto: 'Sriracha';
}

header {
    background-color: black;
}

#Titulo {
    font-size: 5.2em;
    font-family: var(--fonttitulo);
    text-align:center;
    padding: 10px;
    color: white;
    padding-top: 50px;
    margin-bottom: -4px;
}

#Autor {
    text-align: center;
    padding-bottom: 40px;
    font-size: 1.1em;
    letter-spacing: .5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#Autor a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#Autor a:hover {
    text-decoration: underline;
}

main {
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonttexto);
    font-size: 3.5vw;
    min-height: 100vh;
 
}

section.normal {
    padding-bottom: 40px;
    padding-top: 60px;
}

.imagem > p {
    background-color: rgba(8, 8, 8, 0.445);
    color: rgb(255, 255, 255);
    padding: 10px;
    display: inline-block;
}

#img01 {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
    margin-left: -30px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-attachment: fixed;

}

#img02 {
    background-image: url('imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
    margin-left: -30px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-attachment: fixed;

}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    font-size: 1.01em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
